.pio
.vscode


/.idea
/build
/libraries
/lib
/include
/.arts
/.claude
/.gigaide

QWEN.md

SecretHolder.cpp
secrets-notes.local.txt
Backup_of_заготовка распиновки.spl8
Backup_of_прототип главного экрана.spl8